$body-bg-color: #000;
 
 $base-color: #333;
 $base-gradient: 'matte';
 $active-color: #B2DF1E;
  /*
  $tabs-dark: $base-color;
  $tabs-light: #FFF;
   
   $tabs-bottom-radius: .4em;
   $tabs-bottom-gradient: 'bevel';
   $tabs-bar-gradient: 'matte';
   $tabs-bottom-active-gradient: 'recessed';
  */  
    $toolbar-gradient: 'bevel';
//$list-active-color: #003298;
//$list-bg-color: hsla(100, 50%, 70%, 1);
/*
@import 'cv';
@include cv-list;*/

     @import 'sencha-touch/default/all';
     @include sencha-panel;
     @include sencha-buttons;
     @include sencha-sheet; 
     @include sencha-picker;
     @include sencha-toolbar-forms;
     @include sencha-tabs;
     @include sencha-toolbar;
     @include sencha-carousel;
     @include sencha-indexbar;
     @include sencha-list;
     @include sencha-layout;
     @include sencha-form;
     @include sencha-sheet;
