$content-bg-color: #EFE;
//@mixin cv-list{
 
  .x-list-item{
  	background: url("../images/red-caret-right.png") no-repeat scroll 98% center ;
  }
  .x-list-item .x-list-item-label {
    width: 95%;
  }
  .x-list-item .x-list-item-label div{
    white-space: nowrap !important;
    overflow:hidden !important;
  }
  
  .x-list .x-list-item.x-item-selected{
    background: url("../images/red-caret-right.png") no-repeat scroll 98% center #729fdc;
    text-shadow: none;
  }
  
  .listitem{
  	backgound-color: +radial-gradient(color-stops(#aaa, $content-bg-color), top);
  	height: 54px;
  	font: 11px arial,sans-serif;
  }
  
  .listitem .headLine{
  	font-weight: bold;
  	font-size: 13px;
  	color: #003298;
  }
  
  .listitem .author{
  	font-weight: bold; 
  	color: #434343;
  	float: left;
  	width: 45%;
  }
  
  .listitem .pubDate{ 
  	color: #7F7F7F;
  	float: right;
  	width: 45%;
  	text-align: right;
  }
  
  .listitem .content{
  	color: #434343;
  	height: 15px;
  	overflow: hidden;
  	padding-left:2px;
  	clear: both;
  	float: left;
  	white-space: nowrap;
  	width: 100%;
  }
  
  .videolistitem{
     height: 70px;
  }
  .videolistitem .headLine{
    font: bold 12px arial,sans-serif;
    color: #003298;
    line-height: 20px;
    white-space: nowrap;
    overflow:hidden;
  }
  
   .videolistitem .title{
    font-size: 11px; 
    font-weight: bold;
    color: #434343;
  }
  
   .videolistitem .pubDate{ 
    font-size: 10px; 
    color: #7F7F7F;
  }
//}