.portal{
  backgound-color: #EFE;
  /*height:200px;*/
  border: 0;
  border-right:1px solid #333;
}

.portal .portalTitle{
  height: 35px;
  color: #FFCC00;
  font: bold 14px arial,sans-serif;
}


#menuBarButtons .x-button-pressed{
  background: url("../images/arrow_red.png") no-repeat center top;
}

.logo {
    position:absolute;
    top:0;
    left: 40%
}

.cv-dataview .x-dataview-inner{
  width: 100%;
}

cv-topstories .x-toolbar{
  background-image: -webkit-linear-gradient(#ABBAFF, #7687FF, #3425FF, #0000FF);
  color: white;
  height: 30px;
  
  .x-title{
    font-size: 16px;
  }
}
