/* line 5, C:/software/git/mobilePoc/resources/sass/cvlist.scss */
.cv-list-item {
  backgound-color: +radial-gradient(top, #aaaaaa, #434343);
  background: url("../images/red-caret-right.png") no-repeat scroll 100% center;
  height: 80px;
  font: 12px arial,sans-serif;
  width: 98%;
}
/* line 12, C:/software/git/mobilePoc/resources/sass/cvlist.scss */
.cv-list-item .cv-list-item-content {
  padding: 8px 15px 0 4px;
}
/* line 14, C:/software/git/mobilePoc/resources/sass/cvlist.scss */
.cv-list-item .cv-list-item-content div {
  white-space: nowrap !important;
  overflow: hidden !important;
}
/* line 18, C:/software/git/mobilePoc/resources/sass/cvlist.scss */
.cv-list-item .cv-list-item-content .cv-list-item-download {
  background: url("../images/download-icon.png") no-repeat scroll 0 0 transparent;
}
/* line 21, C:/software/git/mobilePoc/resources/sass/cvlist.scss */
.cv-list-item .cv-list-item-content .headLine {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #003298;
  padding-left: 26px;
  height: 26px;
}
/* line 29, C:/software/git/mobilePoc/resources/sass/cvlist.scss */
.cv-list-item .cv-list-item-content .author {
  font-weight: bold;
  color: #434343;
  float: left;
  width: 45%;
  padding-top: 4px;
}
/* line 36, C:/software/git/mobilePoc/resources/sass/cvlist.scss */
.cv-list-item .cv-list-item-content .pubDate {
  color: #7F7F7F;
  float: right;
  width: 45%;
  text-align: right;
  padding-top: 4px;
}
/* line 43, C:/software/git/mobilePoc/resources/sass/cvlist.scss */
.cv-list-item .cv-list-item-content .content {
  color: #434343;
  height: 21px;
  overflow: hidden;
  padding: 5px 0 0 2px;
  clear: both;
  float: left;
  white-space: nowrap;
  width: 100%;
}
/* line 53, C:/software/git/mobilePoc/resources/sass/cvlist.scss */
.cv-list-item .cv-list-item-content .title {
  font-size: 12px;
  font-weight: bold;
  color: #434343;
}
