/* line 4, c:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/cvlist.scss */
.x-list-item {
  background: url("../images/red-caret-right.png") no-repeat scroll right center;
}

/* line 7, c:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/cvlist.scss */
.x-list-item .x-list-item-label {
  width: 95%;
}

/* line 10, c:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/cvlist.scss */
.x-list-item .x-list-item-label div {
  white-space: nowrap !important;
  overflow: hidden !important;
}

/* line 14, c:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/cvlist.scss */
.listitem {
  backgound-color: +radial-gradient(top, #aaaaaa, #eeffee);
  height: 54px;
  font: 11px arial,sans-serif;
}

/* line 20, c:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/cvlist.scss */
.listitem .headLine {
  font-weight: bold;
  font-size: 13px;
  color: #003298;
}

/* line 26, c:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/cvlist.scss */
.listitem .author {
  font-weight: bold;
  color: #434343;
  float: left;
  width: 45%;
}

/* line 33, c:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/cvlist.scss */
.listitem .pubDate {
  color: #7F7F7F;
  float: right;
  width: 45%;
  text-align: right;
}

/* line 40, c:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/cvlist.scss */
.listitem .content {
  color: #434343;
  height: 15px;
  overflow: hidden;
  padding-left: 2px;
  clear: both;
  float: left;
  white-space: nowrap;
  width: 100%;
}

/* line 51, c:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/cvlist.scss */
.videolistitem {
  height: 70px;
}

/* line 54, c:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/cvlist.scss */
.videolistitem .headLine {
  font: bold 12px arial,sans-serif;
  color: #003298;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
}

/* line 62, c:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/cvlist.scss */
.videolistitem .title {
  font-size: 11px;
  font-weight: bold;
  color: #434343;
}

/* line 68, c:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/cvlist.scss */
.videolistitem .pubDate {
  font-size: 10px;
  color: #7F7F7F;
}
