/* line 1, C:/software/git/mobilePoc/resources/sass/portal.scss */
.portal {
  backgound-color: #EFE;
  /*height:200px;*/
  border: 0;
}

/* line 7, C:/software/git/mobilePoc/resources/sass/portal.scss */
.portal .portalTitle {
  height: 35px;
  color: #FFCC00;
  font: bold 14px arial,sans-serif;
}
