/* line 1, C:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/portal.scss */
.portal {
  backgound-color: #EFE;
  /*height:200px;*/
  border: 0;
  border-right: 1px solid #333;
}

/* line 8, C:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/portal.scss */
.portal .portalTitle {
  height: 35px;
  color: #FFCC00;
  font: bold 14px arial,sans-serif;
}

/* line 14, C:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/portal.scss */
#menuBarButtons .x-button-pressed {
  background: url("../images/arrow_red.png") no-repeat center top;
}

/* line 18, C:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/portal.scss */
.logo {
  position: absolute;
  top: 0;
  left: 40%;
}

/* line 24, C:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/portal.scss */
.cv-dataview .x-dataview-inner {
  width: 100%;
}

/* line 28, C:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/portal.scss */
.phoneSearchIcon {
  background: url("../images/search_icon.png") no-repeat !important;
  border: none !important;
  height: 15px;
  width: 14px;
  margin-top: 15px !important;
}

/* line 36, C:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/portal.scss */
.phone_searchfield {
  position: absolute;
  left: 0px;
  top: 0px;
}

/* line 41, C:/soft/PortableGit-1.7.9-preview20120201/mobilePoc/resources/sass/portal.scss */
.overlay_panel {
  left: 0px !important;
  top: 0px !important;
  width: 100%;
  height: 45px;
}
